* {
    margin:10;
    padding: 10;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
    font-family: monospace;
}

body {
    margin: auto;
    width: 100%;
    max-width: 400px;
}