.div2 {
    width: 70%;
    padding: 20px;
    background-color: rgb(216, 214, 214);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    float: large;
}

.img1 {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.aling2 {
    background-color: rgb(233, 233, 233);
    padding: 20 px 0;
    border: 5px solid rgb(223, 223, 223);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}